@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.2rem 0.5rem;
  text-align: center;
}

.btn {
  @apply rounded-full;
}

thead {
  position: sticky;
  top: 0;
}

th {
  font-size: 1rem;
}

.arrow {
  border: 1px solid black;
  border-radius: 30%;
  color: black;
  margin-bottom: 0.5em;
}

.arrow:hover {
  transform: scale(1.3);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.arrow:active {
  transform: scale(1);
  transition: ease-in-out 0.2s;
}
.sort-col {
  display: flex;
  gap: 0.5em;
}

.table-cont {
  height: 600px;
}

.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pkm-img {
  width: 50%;
}
